body {
    margin: 0px auto;
    text-align:left;
}

table, th, td{
    border: 1px solid blue;
    border-collapse:collapse;
}

th, td{
    border-collapse:collapse;
    width: 100px;
    height: 100px;
    overflow:hidden;
    word-wrap:break-word;
    /*text-wrap:avoid;*/
    padding: 5px;
    text-align: left;
}