body {
    margin: 0px auto;
    text-align:left;
}

table{
    margin:0px auto;
    border: 1px solid blue;
    border-collapse:collapse;
}

th, td{
    border:1px solid blue;
    border-collapse:collapse;
    /*width: 200px;*/
    height: 50px;
    overflow: hidden;
    word-wrap: break-word;
    /*text-wrap:avoid;*/
    padding: 5px;
    text-align: left;
}

.verticle{
    margin-right: -5px;
    border:1px solid rgba(0,0,0,0);
    cursor:col-resize;
    float:right;
    min-height:100%;
}
.vertical:hover {
    border: 1px solid red;
}

.horizontal{
    margin:0px 0px;
    padding:0px 0px;
    top:-1px;
    border:1px solid rgba(0,0,0,0);
    cursor:row-resize;
    max-height:0px;
}
.horizontal:hover {
        /*border:1px solid red;*/
        background-color: red;
}
.test {
    background-color: blue;
}